%h3 Greetings from QNA!

%p 
  User 
  %b #{@question.user.login}
  just asked a new question:
  
%p
  %i= raw link_to @question.title, url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

%p
  You asked to be notified about new questions from this user or new questions tagged with "#{@question.tags.join('" or "')}"

== - #{h(@group.name)}
