internal: &internal
  LDAP2:
    :title: 'LDAP'
    :host: 'ldap01.mycompany.com'
    :method: :ssl
    :port: 636
    :base: 'dc=IDENT,o=MyCompany'
    :uid: 'uid'
    :bind_dn: 'uid=,dc=IDENT,o=MyCompany'
    :password: ''

local:
  <<: *internal

development:
  <<: *internal

production:
  <<: *internal

test:
  <<: *internal
